
#all of the files in the folder
Data                  
#exception for the file
#!Data\data.dat          
#all of the folder
Assets                  
#all of the png files
*.png                   
Julia
dummy

